.hidden {
    display: none;
}

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    grid-template-rows: auto;
}

/* Set background image */
body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Ensure the background is behind other content */
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#noEME {
    border-style: solid;
    border-radius: 2%;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 50%;
    justify-self: center;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 3%;
}

#toggleHistory {
    text-align: center;
}

#historyButton{
    background-color: rgb(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 4%;
    padding: 1%;
}

#wvForm {
    display: grid;
}

label {
    color: white;
}

input {
    align-self: center;
    justify-self: center;
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
    width: 80%;
}

label {
    align-self: center;
    justify-self: center;
}

#selectPssh, #selectRequest {
    color: white;
}

#scheme {
    align-self: center;
    justify-self: center;
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
    width: 80%;
}

.schemas {
    color: black;
}

#psshButton {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 25%;
    background-color: rgb(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 4%;
}

#licenseButton {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 25%;
    background-color: rgb(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 4%;
}

#MPDButton {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 25%;
    background-color: rgb(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 4%;
}



#proxy {
    margin-bottom: 2%;
}

#guess {
    margin-top: 1%;
    margin-bottom: 2%;
    width: 25%;
    background-color: rgb(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 4%;
    padding: 1%;
}

textarea {
    align-self: center;
    justify-self: center;
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
    width: 80%;
}

#updateNotice {
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
    margin-bottom: 3%;
}